<div class="one-product">
    <div class="one-product-container">
    <div class="one-left">
        <img class="one-image" src="<%= product.image %>" >
        <div class="one-image-down">
            <img style="height:50px; width:200px;" src="/img/secure.jpg">
            <div class="one-image-down-right">
                <div>100% Safe and Secure Payment</div>
                <div>6 Million People Trust Us</div>
            </div>
        </div>
    </div>
    <div class="one-right">
        <div class="one-right-one">
            <div class="one-right-one-title"><%= product.title %></div>
            <div class="one-right-one-price">₹ <%= product.price %></div>
            <div class="one-right-one-inclusive">Inclusive of all taxes</div>
            
            <div class="payment_address">

                <% if(addresses.length) { %>
                    <b><p><%= user.name %></p></b>
                    <p><%= addresses[0].address %></p>
                    <p><%= addresses[0].pincode %></p>
                    <p>India</p>
                    <p><%= addresses[0].phone %></p>
                    <form id="change-address" action="/changeaddress/<%= product._id %>" method="POST">
                        <a onclick="document.getElementById('change-address').submit() " style="text-decoration: none; color: black; " href="#"><button  style="height:40px; width:200px; background-color:orange; color:white; border:none; outline-width: none; border-radius: 4px; margin-bottom: 15px;"> Change Address</button></a>
                        </form>
                    <% } else { %>
                        <div class="one-right-one-enter">Enter correct Details for hassle free timely delivery.</div>
                        <% if(user) { %>
                <form action="/address/<%= product._id %>" method="POST">
                <input type="text" name="phone" placeholder="Phone No."><br>
                <input type="text" name="pincode" placeholder="Pin Code"><br>
                <input type="text" name="address" placeholder="Full Address"><br>
                    <button type="submit" style="height:40px; width:200px; background-color:orange; color:white; border:none; outline-width: none; border-radius: 4px; margin-bottom: 15px;">Add Address</button>
                <%} else { %>
                    <a style="text-decoration: none; color: black; " href="/login"><button  style="height:40px; width:200px; background-color:orange; color:white; border:none; outline-width: none; border-radius: 4px; margin-bottom: 15px;"> Login to Add Address</button></a>
                    <% } %>
                
            </form>
            <% } %>
            </div>
            <div class="modify">
                <form action="/modifyproduct/<%= product._id %>" enctype="multipart/form-data" method="POST">
                <input style="height:22px; padding:7px; margin-bottom:10px;" type="text" name="printText" placeholder="What do you want to write!!"><br>
                <!-- <span style="margin-right:4px; font-weight:350;">Choose photo that you want </span><input style="margin-bottom: 10px;" type="file" name="uploadImage" accept="image/*"><br> -->
                <button type="submit" style="height:40px; width:200px; background-color:orange; color:white; border:none; outline-width: none; border-radius: 4px; margin-bottom: 15px;">SUBMIT DETAILS</button>
                </form>
            </div>
            <div class="one-right-buttons">
                <button data-product="<%= JSON.stringify(product) %>" class="add-to-cart button01">ADD TO BASKET</button>
                <button data-product="<%= JSON.stringify(product) %>" class="add-to-cart button01">BUY NOW</button>
                <!-- <a href="/cart"><button class="button01"> BUY NOW</button></a> -->
            </div>
            <div class="description-product">Description</div> <hr>
            <div class="product-details-product">
                <ul class="">
                    <li>One Personalised LED Name Plate</li>
                    <li>Dimensions- 9 x 11 Inches</li>
                    <li>Material- Black Acrylic</li>
                    <li>Black silhouette of Gautam Buddha looks serene between colored waves</li>
                    <li>For personalisation, please provide us with 1 surname, 2 names & 1 number</li>
                </ul>
            </div>
            <div class="description-product">Delivery Information</div> <hr>
            <div class="product-details-product">
                <ul class="">
                    <li>Since this product is shipped so the date of delivery is an estimate</li>
                    <li>Your gift may be delivered prior or after the chosen date of delivery.</li>
                    <li>A courier product is delivered separately from other hand delivered products.</li>
                    <li>No deliveries are made on Sundays and National Holidays.</li>
                    <li>The delivery cannot be redirected to any other address.</li>
                    <li>All courier orders are carefully packed and shipped from our warehouse</li>
                    <li>After the order has been dispatched, you will receive tracking number that help you trace gift.</li>
                </ul>
            </div>
            <div class="description-product">Care Instruction</div> <hr>
            <div class="product-details-product">
                <ul class="">
                    <li>Handle with care</li>
                    <li>Clean with a soft dry cloth</li>
                    <li>keep away from water</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>